
--
-- PostgreSQL database dump
--


-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: check_unique_task_title(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.check_unique_task_title() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    -- Check if the title already exists for this specific user
    IF EXISTS (
        SELECT 1 FROM tasks 
        WHERE userid = NEW.userid 
        AND title = NEW.title 
        AND taskid != NEW.taskid  -- Ignore the current task if it's an update
    ) THEN
        RAISE EXCEPTION 'You already have a task with the title: %', NEW.title;
    END IF;
    
    RETURN NEW;
END;
$$;



--
-- Name: update_timestamp(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_timestamp() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
begin
NEW.updated_at=CURRENT_TIMESTAMP;
return new;
end;
 $$;



SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: completed_tasks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.completed_tasks (
    taskid integer,
    userid integer,
    title character varying(200),
    task_description character varying(2000),
    deadline date,
    status character varying(20),
    completed_at timestamp without time zone
);



--
-- Name: failed_tasks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.failed_tasks (
    taskid integer,
    userid integer,
    title character varying(200) NOT NULL,
    task_description character varying(2000),
    deadline date,
    status character varying(20),
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);



--
-- Name: tasks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tasks (
    taskid integer NOT NULL,
    userid integer NOT NULL,
    title character varying(200) NOT NULL,
    task_description character varying(2000),
    deadline date,
    status character varying(20) DEFAULT 'pending'::character varying,
    priority character varying(20) DEFAULT 'medium'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);



--
-- Name: tasks_taskid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.tasks ALTER COLUMN taskid ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.tasks_taskid_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    userid integer NOT NULL,
    name character varying(100) NOT NULL,
    email character varying(100) NOT NULL,
    password character varying(255) NOT NULL,
    phoneno bigint,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);



--
-- Name: users_userid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users ALTER COLUMN userid ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.users_userid_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tasks tasks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT tasks_pkey PRIMARY KEY (taskid);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (userid);


--
-- Name: tasks trigger_unique_user_task; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trigger_unique_user_task BEFORE INSERT OR UPDATE ON public.tasks FOR EACH ROW EXECUTE FUNCTION 
public.check_unique_task_title();


--
-- Name: tasks update_tasks_timestamp; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_tasks_timestamp BEFORE UPDATE ON public.tasks FOR EACH ROW EXECUTE FUNCTION 
public.update_timestamp();


--
-- Name: completed_tasks completed_tasks_userid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.completed_tasks
    ADD CONSTRAINT completed_tasks_userid_fkey FOREIGN KEY (userid) REFERENCES public.users(userid);


--
-- Name: failed_tasks failed_tasks_userid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.failed_tasks
    ADD CONSTRAINT failed_tasks_userid_fkey FOREIGN KEY (userid) REFERENCES public.users(userid);


--
-- Name: completed_tasks fk_completed_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.completed_tasks
    ADD CONSTRAINT fk_completed_user FOREIGN KEY (userid) REFERENCES public.users(userid);


--
-- Name: tasks tasks_userid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT tasks_userid_fkey FOREIGN KEY (userid) REFERENCES public.users(userid) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--




